In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [4]:
path = r"C:\Users\tanch\Documents\GitHub\Kaggle-Playground-Series-May-2021\Input\train.csv\train.csv"
df= pd.read_csv(path,index_col=0)
df

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,0,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,0,0,0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,0,0,2,...,0,1,0,0,0,0,13,2,0,Class_1
3,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,1,0,Class_4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Class_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,0,1,0,0,0,2,0,0,...,0,0,6,0,0,3,0,0,0,Class_1
99996,0,0,0,0,0,0,0,1,2,0,...,0,2,0,0,0,10,0,0,0,Class_2
99997,0,0,0,0,0,1,0,0,0,4,...,0,0,0,0,1,0,0,2,0,Class_3
99998,0,0,0,0,1,0,0,0,0,5,...,0,0,0,0,0,1,0,4,0,Class_2
99999,0,0,0,0,0,0,0,0,0,3,...,0,5,0,0,0,1,0,0,8,Class_3

In [8]:
df = df.sample(frac=1).reset_index(drop=True)

In [9]:
X = df.iloc[:,:-1]
y = df.target

In [ ]:
clf = RandomForestClassifier(max_depth=10, 
                             random_state=0)
clf.fit(X, y)